VITE_APP_NAME=Añada
VITE_CATALYST_PROJECT_ID=11922000000094785
VITE_CATALYST_ORG_ID=20117369913
VITE_CATALYST_REGION=EU
VITE_CATALYST_ENVIRONMENT=Development
VITE_CATALYST_PROJECT_DOMAIN=https://anada-winery-20117369913.development.catalystserverless.eu
VITE_CATALYST_READ_API_URL=https://anada-winery-20117369913.development.catalystserverless.eu/server/anada_data_api
